<title><%= @person.display_name %> - edit page</title>

<div class="row">
  <h2 class="center"><%= @person.display_name %> (<%= link_to "RA edit", "#{@person.link_string}" %>)</h2>
  <div class="col-md-3 biography">
    <div class="basics">
      <p><%= @person.display_birthday %></p>
      <p><%= @person.display_age %></p>
      <% @person.contact_methods.each do |cm| %>
        <p>
          <strong><%= "#{cm.filter}: " %></strong>
          <%= "#{cm.info}" %>
        </p>
      <% end %>
      <p>Notes: <%= @person.notes %></p>
    </div>
  </div>
  <div class="col-md-3 detailing">
    <div class="current_tags">
      <% @person.taggings.each do |tagging| %>
        <%= render partial: "/people/tagging", locals: {tagging: tagging} %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <% if @feed.present? %>
      <% @feed.each do |item| %>
        <p>
          <% 
            class_name = item.class.name 
            date = nil
          %>
          <% if class_name == "Communication" %>
            <% item.when.present? ? date = item.when : date = item.created_at %>
            <strong><%= "#{date.strftime('%m/%d/%y')}:" %></strong>
            <%= "#{item.contents}" %>
          <% elsif class_name == "Event" %>
            <strong>
              <% if item.happening_date.present? %>
                <%= "#{item.happening_date.strftime('%m/%d/%y')}: " %>
              <% elsif item.start_date.present? and item.fade_date.present? %>
                <%= "#{item.start_date.strftime('%m/%d/%y')} to #{item.fade_date.strftime('%m/%d/%y')}: " %>
              <% elsif item.start_date.present? %>
                <%= "#{item.start_date.strftime('%m/%d/%y')}: " %>
              <% else %>
                <%= "#{item.created_at.strftime('%m/%d/%y')}: " %>
              <% end %>
            </strong>
            <%= "#{item.content} | #{item.notes}" %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= form_tag person_path(@person), method: :patch do %>
      <div>
        <p><strong>Add tags:</strong></p>
        <%= select_tag("#{@prefix}[tags]", options_from_collection_for_select(@tags,"id","name"), multiple: true, class: "chosen-select") %>
      </div>
      <div>
        <p class="top-margin"><strong>Add / edit contact methods:</strong></p>
        <%= render partial: "people/contact_methods", locals: {person: @person, prefix: "#{@prefix}"} %>
      </div>
      <div>
        <%= submit_tag "Save tags &| contact methods", class: "top-margin" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= form_tag :action => "create", :controller => "communications" do %>
      <%= render partial: "communications/individual_new", locals: {index_number: 0, who: @person} %>
      <%= submit_tag "Add communications", class: "save-button" %>
    <% end %>
  </div>
</div>
