<div class="row">
  <div class="col-md-6">
    <% if event.person.present? %>
       <%= link_to "#{event.person.display_name}", edit_person_path(event.person.id) %>
    <% end %>
    <% if event.happening_date.present? %>
      <%= event.happening_date.strftime("%b %d") %>
    <% end %>   
    <% if event.person.present? %>
       <%= mail_to "#{event.person.contact_info(:email)}" %>
    <% end %>     
  </div> 
  <div class="col-md-6">
    <%= link_to "Success", events_dismiss_path(event.id,:success), class: "btn btn-success btn-sm" %>
    <%= link_to "Tried Openly", events_dismiss_path(event.id,:tried_openly), class: "btn btn-success btn-sm" %>
    <%= link_to "Pass", events_dismiss_path(event.id,:pass), class: "btn btn-warning btn-sm" %>
    <%= link_to "Pass & estrange", events_dismiss_path(event.id,:pass_and_estrange), class: "btn btn-danger btn-sm" %>
    <%= link_to "Defer 1 wk", events_snooze_path(event.id,7), class: "btn btn-info btn-sm" %>
    <%= link_to "Defer day-1", events_snooze_path(event.id,"day-1"), class: "btn btn-info btn-sm" %>
  </div>
</div>