<tr>
  <td>
    <% if event.person.present? and event.person.first_name.present? %>
       <%= link_to "#{event.person.first_name}", "#{event.person.link_string}" %>
    <% end %>
  </td>  
  <td>
    <% if event.happening_date.present? %>
      <%= event.happening_date.strftime("%b %d") %>
    <% end %>
  </td>
  <td><strong><%= event.content %></strong></td>
  <td><%= event.notes %></td>
  <td>
    <% if event.person.present? and event.person.email.present? %>
       <%= mail_to "#{event.person.email}" %>
    <% end %>
  </td>  
  <td><%= link_to "Success", events_dismiss_path(event.id,:success), class: "btn btn-default" %></td>
  <td><%= link_to "Tried Openly", events_dismiss_path(event.id,:tried_openly), class: "btn btn-default" %></td>
  <td><%= link_to "Pass", events_dismiss_path(event.id,:pass), class: "btn btn-default" %></td>
  <td><%= link_to "Pass & estrange", events_dismiss_path(event.id,:pass_and_estrange), class: "btn btn-default" %></td>
</tr>