<tr>
  <td>
    <% if person = event.person and person.first_name %>
       <%= link_to "#{person.first_name}", "#{person.link_string}" %>
    <% end %>
  </td>  
  <td>
    <% if event.happening_date.present? %>
      <%= event.happening_date.strftime("%b %d") %>
    <% end %>
  </td>
  <td><strong><%= event.content %></strong></td>
  <td><%= event.notes %></td>
  <td>
    <% if event.person and event.person.email %>
       <%= mail_to "#{event.person.email}" %>
    <% end %>
  </td>  
  <td><%= link_to "Success", events_dismiss_path(event.id,:success) %></td>
  <td><%= link_to "Tried Openly", events_dismiss_path(event.id,:tried_openly) %></td>
  <td><%= link_to "Pass", events_dismiss_path(event.id,:pass) %></td>
  <td><%= link_to "Pass and estrange", events_dismiss_path(event.id,:pass_and_estrange) %></td>
</tr>