<%= link_to "Add and edit objects", "/admin" %>
<%= link_to "Generate all blank names", people_generate_names_path %>

<h2>Upcoming birthdays</h2>
<table>
  <% @birthdays.each do |event| %>
    <%= render partial: "/displays/individual_event", locals: {event: event} %>
  <% end %>
</table>
<h2>Outstanding wants and haves</h2>
<table>
  <% @wants_and_has.each do |event| %>
    <%= render partial: "/displays/individual_event", locals: {event: event} %>
  <% end %>
</table>
<h2>Recent taggings</h2>
<table>
  <% @recent_taggings.each do |tagging| %>
    <%= render partial: "/people/tagging", locals: {tagging: tagging} %>
  <% end %>
</table>