<% provide(:title,"Edit event #{@event.id}") %>

<div class="row">
  <div class="col-md-12">

    <h2>Edit event <%= "'#{@event.content}' (ID: #{@event.id})" %></h2>

    <%= form_tag event_path(@event.id), method: :patch do %>

      <div class="row">
        <div class="col-md-4">
          <%= label_tag "event[content]", "Title" %>
          <%= text_field_tag "event[content]", @event.content %>
        </div>
        <div class="col-md-4">
          <%= label_tag "event[notes]", "Notes" %>
          <%= text_area_tag "event[notes]", @event.notes %>
        </div>
        <div class="col-md-4">
          <%= label_tag "event[happening_date]", "Date" %>
          <%= date_select "event","happening_date", default: (@event.happening_date.present? ? @event.happening_date : Date.today)  %>
        </div>
      </div>

      <h3>Previously attached people</h3>
      <% if @tag.present? %>
        <% @people.each do |person| %>
          <% communications = Communication.where(event_id: @event.id, person_id: person.id) %>
          <%= render partial: "people/person_overview", locals: { person_attributes: @person_attributes, person: person, communications: communications, all_tags: @tags, all_people: nil, select_action_radios: false } %>
        <% end %>
      <% end %>

      <h3>Add additional people</h3>

      <%= render partial: "events/existing_people_within_form", locals: {people: @addable_people, return_variable: :people} %>
      <%= render partial:"events/unexisting_people_within_form", locals: {how_many_rows: 5} %>

      <%= submit_tag "Update event and people" %>
    <% end %>

  </div>
</div>