<%= link_to "Home", root_path %><br>
<%= link_to "Back to tags", tags_path %>

<h1><%= @tag.name %></h1>

<p>Emails: <%= @email_list %></p>

<table>
  <% @taggings.each do |tagging| %>
    <% person = tagging.person %>
    <tr>
      <td><%= link_to "#{person.name}", "#{person.link_string}" %></td>
      <td><%= "#{tagging.verb.name}" %></td>
      <td><%= mail_to "#{person.email}" %></td>
    </tr>
  <% end %>
</table>