<div class="container">
  <div class="row">

    <h1>New survey</h1>

    <%= form_tag :action => "create", :controller => "surveys" do %>

      <%= hidden_field_tag :id, @survey.id %>

      <% @survey.questions.each do |question| %>
        <div>
          <p><strong><%= "#{question.ask}" %></strong></p>
          <p>
            <% if question.answer_type == "text" %>
              <%= text_area_tag "questions[#{question.name}]", "" %>
            <% else %>
              <%= text_field_tag "questions[#{question.name}]", "" %>
            <% end %>
          </p>
        </div>
      <% end %>

      <p><%= submit_tag "Submit survey" %></p>

    <% end %>

  </div>
</div>