<h1>
  <% if @survey.name.present? %>
    <%= "#{@survey.name}" %>
  <% else %>
    <%= "Survey ID: #{@survey.id}" %>
  <% end %>
</h1>

<p>Taken: <%= "#{@survey.created_at.strftime("%B %d, %Y")}" %></p>

<% @survey.answers.each do |answer| %>
  <div>
    <p><strong><%= "#{answer.question.ask}" %></strong></p>
    <p><%= answer.get_answer %></p>
  </div>
<% end %>