<div class="container">
  <div class="row">

    <h1>
      <% if @survey.name.present? %>
        <%= "#{@survey.name}" %>
      <% else %>
        <%= "Survey ID: #{@survey.id}" %>
      <% end %>
    </h1>

    <p>
      <% if @survey_purpose == "before_survey" %>
        This is a before survey. <%= link_to "Pick a plan!", plans_with_deed_path(@deed_id) %>
      <% elsif @survey_purpose == "after_survey" %>
        This is an after survey. <%= link_to "See the before and after!", deed_path(@deed_id) %>
      <% else %>
        This is a standalone survey
      <% end %>
    </p>

    <p>Taken: <%= "#{@survey.created_at.strftime("%B %d, %Y")}" %></p>

    <% @survey.answers.each do |answer| %>
      <div>
        <p><strong><%= "#{answer.question.ask}" %></strong></p>
        <p><%= answer.get_answer %></p>
      </div>
    <% end %>

  </div>
</div>