<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% if current_user.present? %>
          <div>
            <div class="col-md-6">
              <%= link_to "Home page", root_path %> |
              <%= link_to "People table", people_table_path  %> |
              <% prospective_count = Person.where(prospective: true).count %>
              <%= link_to "Emails to classify (#{prospective_count})", people_prospectives_path %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              View:
              <%= link_to "RailsAdmin", "/admin" %> |
              <%= link_to "Plans", plans_path %> |
              <%= link_to "Events", events_path %>               
            </div>
          </div>

          <div>
            <div class="col-md-6">
              New: 
              <%= link_to "Communications", new_communication_path %> | 
              <%= link_to "Deed", deeds_precommit_path %> | 
              <%= link_to "Event", new_event_path %> |
              <%= link_to "Survey", new_survey_path %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <%= form_tag({action: "navigate_to_person", controller: "people"}, method: "post") do %>
                <%= select_tag(:navigate_to_person, options_from_collection_for_select(Person.all,"id","name"), multiple: false, class: "chosen-select") %>
                <%= submit_tag "Go" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <% if notice.present? %>
          <p class="notice bg-success"><%= notice %></p>
        <% elsif alert.present? %>
          <p class="alert bg-alert"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
