<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user.present? %>
      <div>
        <%= link_to "Home page", root_path %> |
        <%= link_to "RailsAdmin", "/admin" %> |
        <%= link_to "New deed", deeds_precommit_path %> | 
        <%= link_to "People table", people_table_path  %> |
        <%= link_to "Take a survey", new_survey_path %>
      </div>
    <% end %>

    <% if notice.present? %>
      <p class="notice bg-success"><%= notice %></p>
    <% elsif alert.present? %>
      <p class="alert bg-alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
