<!DOCTYPE html>
<html>
  <head>
    <title>Mnemonic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if current_user.present? %>
            <div>
              <%= link_to "Home page", root_path %> |
              <%= link_to "RailsAdmin", "/admin" %> |
              <%= link_to "People table", people_table_path  %>
            </div>
            <div>
              New: 
              <%= link_to "Communications", new_communication_path %> | 
              <%= link_to "Deed", deeds_precommit_path %> | 
              <%= link_to "Event", new_event_path %> |
              <%= link_to "Survey", new_survey_path %>
            </div>
          <% end %>
        </div>
      </div>

      <div>
        <% if notice.present? %>
          <p class="notice bg-success"><%= notice %></p>
        <% elsif alert.present? %>
          <p class="alert bg-alert"><%= alert %></p>
        <% end %>
      </div>

      <br>

      <%= yield %>
    </div>

  </body>
</html>
